body {
  background: black;
  color: #00ff66;
  font-family: monospace;
  text-align: center;
}

.center {
  margin-top: 10%;
}

input {
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  padding: 8px;
}

button {
  background: #00ff66;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#terminal {
  margin-top: 20px;
}

a {
  color: #00ff66;
}